<section id="facts" class="facts-area dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 ts-facts">

                <div class="ts-facts-content text-center mt-2" data-aos="fade-up" data-aos-duration="1000">
                    <h2 [countUp]="2000" class="counterUp">10</h2>
                    <h3 class="ts-facts-title mt-3">Ventas</h3>
                </div>
            </div>
            <div class="col-6 col-md-3 ts-facts">

                <div class="ts-facts-content text-center mt-2" data-aos="fade-up" data-aos-duration="1500">
                    <h2 [countUp]="8" class="counterUp">0</h2>
                    <h3 class="ts-facts-title mt-3">Años de Experiencia</h3>
                </div>
            </div>
            <div class="col-6 col-md-3 ts-facts">

                <div class="ts-facts-content text-center mt-2" data-aos="fade-up" data-aos-duration="2000">
                    <h2 [countUp]="600" class="counterUp">0</h2>
                    <h3 class="ts-facts-title mt-3">Fabricas Armadas</h3>
                </div>
            </div>
            <!-- Col end -->

            <div class="col-6 col-md-3 ts-facts">

                <div class="ts-facts-content text-center mt-2" data-aos="fade-up" data-aos-duration="2500">
                    <h2 [countUp]="4000" class="counterUp">0</h2>
                    <h3 class="ts-facts-title mt-3">Alumnos</h3>
                </div>
            </div>
            <!-- Col end -->
            <!-- Facts end -->
        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section>
<!-- Facts end -->