<div class="row mt-3 px-lg-5 px-3" style="height: 2vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <span [routerLink]="['/aluminio']">

            <i class="fas fa-chevron-left"></i> Volver
        </span>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mt-2 mb-5 px-lg-5 px-3" style="min-height: 70vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <div class=" mt-2 mb-2">
            <div class="card-body">
                <div class="card-body">
                    <div class="row px-2 alig">
                        <div class="col-12  col-lg-6 col-xl-6">
                            <img src="ht../../../assets/equipos/herms_aluminio.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
                        </div>
                        <div class="col-12  col-lg-6 col-xl-6 my-auto ">

                            <div class="row mb-2 upTituloEquipo">
                                <strong class="tituloEquipo">

                                    <i class="fas fa-brain mx-2" style="font-size: 25pt;"></i> |

                                    Equipo Semiprofesional HERMS
                                </strong>
                            </div>

                            <div class=" ml-2" style="font-size: 10pt;">
                                <span style="font-size: 12pt;">
                                    Presentaciones:
                                    <div class="mt-2"></div>
                                    <mat-chip-list class="mt-1">
                                        <mat-chip>30 litros</mat-chip>
                                        <mat-chip>50 litros</mat-chip>
                                        <mat-chip>100 litros</mat-chip>
                                        <mat-chip>130 litros</mat-chip>

                                    </mat-chip-list>

                                    <br>
                                </span> Este equipo trabaja de forma similar a las fabricas profesionales pero llevado a escala casera o Micro Brewery. Pensado para el cervecero exigente que busca consistencia entre cocciones
                                y pretende aprovechar al máximo el rendimiento de la maceración. HERMS (Heat Exchange Recirculated Mash) se trata de un método profesional de extracción de mosto. Mejora la calidad de la cerveza dando como resultado un
                                mosto más claro y libre de astringencias, aumentando producción final gracias a la eficiencia del proceso de maceración. El sistema Herms evita la caramelización del fondo, por lo tanto los estilos a producir son más fieles
                                a la receta original. Disminuye los tiempos y el trabajo manual que requiere la cocción, agilizando el trabajo. Ideal para aquellos cerveceros que buscan mejorar calidad y ganar comodidad a la hora de trabajar.
                                <p style="font-size: 9pt;">
                                    Accesorio opcional fermentador conico de 60, 110 o 150 litros (consultar precio)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class=" col-6">
                            <a type="button" class="btn btn-warning btn-rounded" href="https://laforja.mercadoshops.com.ar/" target="_blank" style=" border-radius: 20px ;height: 80%;  width: 100%;">Ver en la
                                Tienda</a>
                        </div>
                        <div class=" col-6">
                            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                                                        Quisiera más Información sobreEquipo Semiprofesional HERMS'." style="border-radius: 20px ;height: 80%; width: 100%;">Venta Directa</a>
                        </div>
                        <div class="col-6 my-auto ">
                            <div style="font-size: 9pt; font-weight: 600;">
                                COMPRA ONLINE CON TARJETA DE CRÉDITO
                            </div>
                        </div>

                        <div class="col-6 my-auto">
                            <div style="font-size: 9pt; font-weight: 600;">
                                15% DESCUENTO PAGO DIRECTO <span style="font-size: 7pt;">
                                    <br> (TRANSFERENCIA O DEPOSITO)
                                </span>
                            </div>
                            <div style="font-size: 9pt; font-weight: 600; ">
                                20% DESCUENTO PAGO EFECTIVO EN MANO
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mx-3">
                <div class="col-3" style="font-size: 14pt; font-family: 'Kaushan Script'">
                    Accesorios
                </div>

                <hr>
                <div class="col-12 text-center">
                    <app-carousel-modal></app-carousel-modal>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>