<div class="row mt-3 mb-2 px-2" style="height: 4vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12 text-center" style="font-size: 30pt; font-weight: 600;font-family: 'Roboto'">
        Nuestro Equipos de Profesionales
    </div>
    <div class="col-lg-1"></div>
</div>
<hr>


<div class="row mt-3 mb-5 px-lg-5 px-3" style="min-height: 70vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <div class=" mt-2 mb-2">
            <div class="card-body">
                <div class="row pt-2">
                    <div class="col-12  col-lg-4 col-xl-6">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class=" ">
                                        <img src="../../../assets/equipos/PRO/inox 1.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 3.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 4.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 5.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 7.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 8.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 11.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 12.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="">
                                        <img src="../../../assets/equipos/PRO/inox 13.jpg" alt="thumbnail" class="d-block w-100">
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>


                    </div>
                    <div class="col-12  col-lg-8 col-xl-6 mt-2 ">

                        <div class="row mb-2 upTituloEquipo">
                            <strong class="tituloEquipo">
                                <i class="fas fa-thumbs-up ml-2" style="font-size: 25pt;"></i> |
                                Acero Inoxidable Semi-industrial
                            </strong>
                        </div>

                        <div class="col-12 " style="font-size: 9pt;">
                            <p> <span style="font-size: 12pt;">
                                    Rendimiento desde :
                                    <div class="mt-2"></div>
                                    <mat-chip-list class="mt-1">
                                        <mat-chip>50 litros</mat-chip>
                                        <mat-chip>150 litros</mat-chip>

                                    </mat-chip-list>
                                    <br>
                                </span>
                                <span style="font-size: 11pt;">
                                    Equipo diseñado para minimizar el trabajo manual y mejorar la calidad de la cerveza.
                                    Ideal para pequeños emprendimientos comerciales en cervecería, o restaurants,
                                    pizzerias,
                                    pequeños bares, alquiler de choperas para eventos y fiestas, casas de comida,
                                    roticerías, beer trucks, o home brewers que venden producción de forma directa
                                </span>
                            </p>

                        </div>

                        <div class="row text-center mt-1">
                            <div class=" col-6">
                                <a type="button" class="btn btn-warning btn-rounded" href="https://laforja.mercadoshops.com.ar/" target="_blank" style=" border-radius: 20px ;height: 80%;  width: 100%;">Ver en la
                                        Tienda</a>
                            </div>
                            <div class=" col-6">
                                <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                                                                                                        Quisiera más Información sobre | EQUIPO PRINCIPIANTE HOBBY'." style="border-radius: 20px ;height: 80%; width: 100%;">Venta Directa</a>
                            </div>
                            <div class="col-6 my-auto ">
                                <div style="font-size: 9pt; font-weight: 600;">
                                    COMPRA ONLINE CON TARJETA DE CRÉDITO
                                </div>
                            </div>

                            <div class="col-6 my-auto">
                                <div style="font-size: 9pt; font-weight: 600;">
                                    15% DESCUENTO PAGO DIRECTO <span style="font-size: 7pt;">
                                            <br> (TRANSFERENCIA O DEPOSITO)
                                        </span>
                                </div>
                                <div style="font-size: 9pt; font-weight: 600; ">
                                    20% DESCUENTO PAGO EFECTIVO EN MANO
                                </div>
                            </div>
                        </div>

                        <br>

                    </div>
                </div>
                <div class="col-12 mx-1" style="font-size: 14pt; font-family: 'Kaushan Script'">
                    Incluye
                </div>
                <hr>
                <div class="row  pb-2 mt-5">
                    <div class="col-lg-6 col-12" style="font-size: 10pt; ">
                        <ul>
                            <li>3 OLLAS DE ACERO INOXIDABLE 304 </li>
                            <li>OLLA DE HERVOR CON CAPACIDAD SUFICIENTE PARA GARANTIZAR RENDOMIENTO MAXIMO SEGUN PRESENTACION </li>
                            <li>SISTEMA DE MACERACION PROFESIONAL HERMS (HEAT EXCHANGE RECIRCULATED MASH)
                            </li>
                            <li>FALSO FONDO A MEDIDA </li>
                            <li>BOCHA DIFUSORA </li>
                            <li>BARRAL DE LLUVIA </li>
                            <li>LLAVES DE PASO CON TRABA DE SUGURIDAD </li>
                            <li>ACOPLES RAPIDOS </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-12" style="font-size: 10pt; ">
                        <ul>

                            <li>TERMOMETROS DE ACERO INOXIDABLE INSTALADOS </li>
                            <li>DESCARGA TOTAL </li>
                            <li>SISTEMA DE LIMPEZA CIP (CLEANING IN PLACE) </li>
                            <li>WHIRLPOOL </li>
                            <li>DIQUE ANTI TRUB </li>
                            <li>BOMBA CON REGULADOR DE CAUDAL APTA TRASVASES, RECIRCULADO, WHIRLPOOL Y CIP
                            </li>
                            <li>ESTRUCTURA ESCALONADA PARA LAS 3 OLLAS </li>
                            <li>QUEMADORES ACORDE </li>
                            <li>ENFRIADOR CONTRACORRIENTE DE ACERO INOXIDABLE</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<!--  -->

<div class="row mt-3 pb-2 pt-2 unique-color-dark" style="height: 4vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12 text-center white-text" style="font-size: 30pt; font-weight: 600;font-family: 'Roboto'">
        Próximamente
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row px-5 py-5   unique-color-dark" style="min-height: 50vh;">
    <div class="col-lg-6 col-12 animated fadeInRight" *ngIf="ver!==2">
        <div class="card  py-2 px-2 h-100">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="../../../assets/minuaturas/nodispo.jpg" alt="thumbnail" class="card-img">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"> EQUIPO ACERO INOXIDABLE INDUSTRIAL</h5>
                        <p class="card-text"> Rendimiento desde 50 a 150 litros</p>
                        <p class="card-text"> Equipo pensado para los cerveceros caseros que buscan acortar tiempos de cocción, ganar comodidad al momento de trabajar, garantizar la durabilidad de sus ollas y mejorar los protocolos de limpieza del modulo de cocción. Olas de
                            acero inoxidable 304 sanitario, material de durabilidad eterna, con soldaduras pasadas y decapadas. Gracias a sus 3 ollas (agua, macerado y hervido) tenemos una estación de trabajo con una función especifica en cada una, agilizando
                            el trabajo. Apto para maceración de tipo infusión simple o escalonada, permitiendo replicar cualquier estilo de cerveza (escuela inglesa, alemana, belga, americana). Incluye todos los elementos necesarios para completar el
                            proceso de fabricación, desde la cocción hasta el embotellado de la cerveza.</p>

                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="card-footer text-center " style="background-color: var(--colorAccion);" (click)="cambiar(1)" *ngIf="ver!==1">
                    Ver mas
                </div>
                <div class="card-footer text-center " style="background-color: var(--colorAccion);" (click)="cambiar(1)" *ngIf="ver!==0">
                    Volver
                </div>
                <a *ngIf="ver!==0" type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                                                            Quisiera más Información sobre Equipo PROFESIONAL Acero Inoxidable 304  (industrial)'." style="border-radius: 20px ; width: 100%;">Venta
                    Directa</a>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 animated fadeInRight" *ngIf="ver!==1">
        <div class="card  py-2 px-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../../assets/minuaturas/nodispo.jpg" alt="thumbnail" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> EQUIPO ACERO INOXIDABLE HOBBY (CERVECEROS CASEROS)</h5>
                        <p class="card-text"> Rendimiento desde 20 a 100 litros</p>
                        <p class="card-text"> Equipo pensado para los cerveceros caseros que buscan acortar tiempos de cocción, ganar comodidad al momento de trabajar, garantizar la durabilidad de sus ollas y mejorar los protocolos de limpieza del modulo de cocción. Olas de
                            acero inoxidable 304 sanitario, material de durabilidad eterna, con soldaduras pasadas y decapadas. Gracias a sus 3 ollas (agua, macerado y hervido) tenemos una estación de trabajo con una función especifica en cada una, agilizando
                            el trabajo. Apto para maceración de tipo infusión simple o escalonada, permitiendo replicar cualquier estilo de cerveza (escuela inglesa, alemana, belga, americana). Incluye todos los elementos necesarios para completar el
                            proceso de fabricación, desde la cocción hasta el embotellado de la cerveza.</p>


                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="card-footer text-center " style="background-color: var(--colorAccion);" (click)="cambiar(2)" *ngIf="ver!==2">
                    Ver mas
                </div>
                <div class="card-footer text-center " style="background-color: var(--colorAccion);" (click)="cambiar(2)" *ngIf="ver!==0">
                    Volver
                </div>
                <a *ngIf="ver!==0" type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                                                                Quisiera más Información sobre Equipo PROFESIONAL Acero Inoxidable 304  (industrial)'." style="border-radius: 20px ; width: 100%;">Venta
                        Directa</a>

            </div>
        </div>

    </div>
    <div class="col-lg-6 col-12 animated fadeInRight" *ngIf="ver===1">
        <div class="card  py-2 px-2">
            <div class="card-body">
                <div class="row pl-5 pt-4 pr-2 pb-2">
                    <div class="col-12 " style="font-size: 11pt;">
                        Las ollas son construidas en Acero inoxidable 304 sanitario, las costuras son inertizadas en atmósfera de argón, pasivadas, decapadas y pulidas a fines de eliminar la rugosidad. El trabajo de soldadura es realizado por herreros especializados en la materia
                        y los materiales y el proceso cuentan con certificado de proceso. Los componentes que se usan para construir el bloque son todos de primera linea marca Famiq. El espesor de los cuerpos es de 2.00 mm y los fondos son de 3.00 mm,
                        con el fin de aumentar su robustez y asegurar un calentamiento homogéneo. Permite trabajar cocciones sucesivas (2 cocciones en 9 horas aproximadamente).

                        <p style="font-size: 11pt;" class="mt-1 ">
                            Opcionales: Fermentador cónico isobárico de acero inoxidable 304 acorde a la capacidad de la fabrica, o fermentador cónico de polipropileno con base metálica incluida
                        </p>
                    </div>
                    <div class="col-12 " style="font-size: 10pt;">
                        <ul style="columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;">

                            <li>OLLAS ENCAMISADAS </li>
                            <li>CAMISA DE GASES CON SALIDA EXTERIOR </li>
                            <li>PATAS INCORPORADAS EN LAS OLLAS </li>
                            <li>AGITADORA DE GRANOS </li>
                            <li>COMPUERTA DE EXTRACCION DE GRANOS </li>
                            <li>PLATO DIFUSOR DE MOSTO </li>
                            <li>COLECTOR DE MOSTO </li>
                            <li>TAPAS EN BISAGRA </li>
                            <li>SISTEMA DE LIMPEIZA CIP (CLEANING IN PLACE) </li>
                            <li>FALSO FONDO MALLA JOHNSON MICROPERFORADO </li>
                            <li>SALDA DE VAPORES </li>
                            <li>WHIRLPOOL </li>
                            <li>DIQUE ANTI TRUB </li>
                            <li>TERMOMETROS CABEZAL ACERO INOXIDABLE </li>
                            <li>PLATAFORMA </li>
                            <li>LLAVES MARIPOSA </li>
                            <li>CONEXIONES EN CAÑO DE ACERO INOXIDABLE CON ACOPLES CLAMP SANITARIOS * BOMBA CABEZAL DE INOXIDABLE
                            </li>
                            <li>QUEMADORES ACORDE </li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 col-12 animated fadeInRight" *ngIf="ver === 2">
        <div class="card  py-2 px-2 ">
            <div class="card-body">
                <div class="row pl-5 pt-4 pr-2 pb-2">
                    <div class="col-12 " style="font-size: 11pt;">
                        Las ollas son construidas en Acero inoxidable 304 sanitario, las costuras son inertizadas en atmósfera de argón, pasivadas, decapadas y pulidas a fines de eliminar la rugosidad. El trabajo de soldadura es realizado por herreros especializados en la materia
                        y los materiales y el proceso cuentan con certificado de proceso. Los componentes que se usan para construir el bloque son todos de primera linea marca Famiq. El espesor de los cuerpos es de 2.00 mm y los fondos son de 3.00 mm,
                        con el fin de aumentar su robustez y asegurar un calentamiento homogéneo. Permite trabajar cocciones sucesivas (2 cocciones en 9 horas aproximadamente).

                        <p style="font-size: 11pt;" class="mt-1 ">
                            Opcionales: Fermentador cónico isobárico de acero inoxidable 304 acorde a la capacidad de la fabrica, o fermentador cónico de polipropileno con base metálica incluida
                        </p>
                    </div>
                    <div class="col-12 " style="font-size: 10pt;">
                        <ul style="columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;">

                            <li>OLLAS ENCAMISADAS </li>
                            <li>CAMISA DE GASES CON SALIDA EXTERIOR </li>
                            <li>PATAS INCORPORADAS EN LAS OLLAS </li>
                            <li>AGITADORA DE GRANOS </li>
                            <li>COMPUERTA DE EXTRACCION DE GRANOS </li>
                            <li>PLATO DIFUSOR DE MOSTO </li>
                            <li>COLECTOR DE MOSTO </li>
                            <li>TAPAS EN BISAGRA </li>
                            <li>SISTEMA DE LIMPEIZA CIP (CLEANING IN PLACE) </li>
                            <li>FALSO FONDO MALLA JOHNSON MICROPERFORADO </li>
                            <li>SALDA DE VAPORES </li>
                            <li>WHIRLPOOL </li>
                            <li>DIQUE ANTI TRUB </li>
                            <li>TERMOMETROS CABEZAL ACERO INOXIDABLE </li>
                            <li>PLATAFORMA </li>
                            <li>LLAVES MARIPOSA </li>
                            <li>CONEXIONES EN CAÑO DE ACERO INOXIDABLE CON ACOPLES CLAMP SANITARIOS * BOMBA CABEZAL DE INOXIDABLE
                            </li>
                            <li>QUEMADORES ACORDE </li>
                        </ul>
                    </div>
                    <hr>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- <app-equipos-pro></app-equipos-pro> -->