<section class="amber lighten-5 d-sm-none d-none d-md-block " id="asesoramiento">

    <div class="container mt-auto mb-auto" style="min-height: 700px;">
        <div class="row no-gutters">
            <div class="col-md-4  py-5 nav-link-wrap bg-dark" style="min-height: 800px;">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" data-aos="fade-up" data-aos-duration="1000">
                    <a class="mr-2 nav-link mt-5 px-4 animated fadeInDown delay-1s" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">
                        <i class="mr-2 fas fa-warehouse"></i><br class="d-none d-md-block d-lg-none"> Fabricas <br class="d-none d-md-block d-lg-none"> "llave en mano"</a>
                    <a class="nav-link mt-5 px-4 active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="true">
                        <i class="mr-2 far fa-lightbulb"></i> <br class="d-none d-md-block d-lg-none">Consultaria Emprendedores</a>
                    <a class="nav-link mt-5 px-4 animated fadeInDown delay-2s" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">
                        <i class="mr-2 fas fa-pencil-ruler"></i> <br class="d-none d-md-block d-lg-none">Fabricas a medida </a>
                    <a class="nav-link mt-5 px-4 animated fadeInDown delay-3s" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">
                        <i class="mr-2 fas fa-magic"></i> <br class="d-none d-md-block d-lg-none"> Grafica y Comunicación</a>
                    <a class="nav-link mt-5 px-4 animated fadeInDown delay-3s" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">
                        <i class="mr-2 far fa-images"></i><br class="d-none d-md-block d-lg-none">Galeria</a>

                </div>
            </div>
            <div class="col-md-8  p-4 p-md-5 d-flex align-items-center">
                <div class="tab-content pl-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade py-5 animated fadeInRight" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab" data-aos="fade-right">
                        <i class="fas fa-warehouse mb-4" style="font-size: 50pt;"></i>
                        <h2 class="mb-4">Fabrica "llave en mano"</h2>
                        <p>Armamos tu fabrica a medida y te ofrecemos un servicio integral en asesoramiento para emprendedores con el objetivo de lograr el stock necesario para cubrir las metas del plan de negocios:
                        </p>
                        <p>
                            <ul>
                                <li> Diseño de fábrica a medida de las necesidades del cliente según su plan de negocios
                                </li>
                                <li>Fabricación del equipo necesario en acero inoxidable 304 sanitario.</li>
                                <li>Instalación y puesta a punto del equipo, nos retiramos con los fermetadores llenos con la primer tanda de producción.</li>
                                <li>Diseño de recetas acorde a la cantidad de litros finales a producir por Batch, con estudio de análisis de agua de la fábrica.</li>
                                <li>Capacitación personalizada al staff de la fábrica.</li>
                            </ul>
                            <!-- </p> -->

                    </div>

                    <div class="tab-pane fade show active py-5 animated fadeInRight" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-1-tab">
                        <i class="far fa-lightbulb mb-4" style="font-size: 50pt;"></i>
                        <h2 class="mb-4">Consultoria emprendedores</h2>
                        <p>Ofrecemos servicios para quienes tienen una fabrica de cerveza en funcionamiento y desean mejorar practicas, recetas, calidad del producto con el objetivo de abrirse paso en el mercado cervecero:</p>
                        <p>
                            <ul>
                                <li>Diseño de recetas acorde a la cantidad de litros finales a producir por Batch, con estudio de análisis de agua de la fábrica.</li>
                                <li>Mejora de procesos productivos: Trazabilidad de lotes, protocolos de limpieza y sanitización, envasado, transporte.</li>
                                <li> Capacitación personalizada al staff de la fábrica.</li>
                            </ul>
                            <!--  </p> -->

                    </div>


                    <div class="tab-pane fade py-5 animated fadeInRight" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                        <i class="fas fa-search"></i>
                        <h2 class="mb-4">Fabricas a medida </h2>
                        <p>Contamos con un taller de herrería especializado en equipamiento cervecero y expertos en diseño de fabricas de cerveza para ofrecer el mejor equipo acorde a los requerimientos de cada proyecto:</p>
                        <p>
                            <ul>
                                <li>Diseño de planos de módulo de cocción a medida de las necesidades del cliente según su plan de negocios, litros finales a producir, espacio del local o fábrica donde se instalará el mismo.</li>
                                <li>Fabricación del módulo de cocción necesario en acero inoxidable 304 sanitario.</li>
                                <li>Fabricación de fermentadores de acero inoxidable isobaricos en acero inoxidable 304 sanitario.
                                </li>
                            </ul>
                            <!-- </p> -->

                    </div>

                    <div class="tab-pane fade py-5 animated fadeInRight" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                        <div class="row">
                            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                                <mdb-carousel-item>
                                    <div class="view w-100">
                                        <img class="d-block w-100" src="../../../assets/asesora/1.jpg" alt="First slide">
                                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                    </div>

                                </mdb-carousel-item>
                                <mdb-carousel-item>
                                    <div class="view w-100">
                                        <img class="d-block w-100" src="../../../assets/asesora/2.jpg" alt="Second slide">
                                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                    </div>

                                </mdb-carousel-item>
                                <mdb-carousel-item>
                                    <div class="view w-100">
                                        <img class="d-block w-100" src="../../../assets/asesora/3.jpg" alt="Third slide">
                                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                    </div>
                                </mdb-carousel-item>
                            </mdb-carousel>
                            <!-- /.container -->
                        </div>

                    </div>

                    <div class="tab-pane fade py-5 animated fadeInLeft" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                        <h2 class="mb-4">Gráfica y Comunicación</h2>
                        <p>Ofrecemos servicios de grafica, comunicación y posicionamiento de tu marca de cerveza:</p>
                        <p>
                            <ul>
                                <li>Desarrollo de marca</li>
                                <li>Diseño de logotipos e isótopos</li>
                                <li>Diseño de etiquetas, gráfica para latas</li>
                                <li>Folletería, banners, menú, catalogo</li>
                                <li>Fotografía de producto</li>
                                <li>Diseño de etiquetas, gráfica para latas</li>
                                <li>Diseño de paginas web</li>
                                <li>Posicionamiento en google</li>
                                <li>Manejo de redes sociales</li>

                            </ul>
                            <!--  </p> -->
                            <p>
                                <a href="https://api.whatsapp.com/send?phone=541161188700&text=Hola, quisiera mas informacion sobre diseño y comunicacion" class="btn btn-dark px-4 py-3 unique-color-dark">Mas Información</a>
                            </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="d-block d-md-none d-lg-none d-xl-none">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <app-asesoramiento-mobile></app-asesoramiento-mobile>
        </div>
        <div class="col-1"></div>
    </div>

</div>
<div class="paralax" style="background-image: url('../../../assets/portada/portada2.jpg'); height: 20vh; "> </div>