.rgba-orange-strong {
    background-color: #fac43d8f;
}

@media screen and (min-width: 1037px) {
    .container {
        height: auto;
    }
    .counterUp {
        font-size: 45px;
    }
    .titulo {
        font-size: 22pt;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
    .subtitulo {
        font-size: 11pt;
        line-height: 14pt;
        /* text-transform: uppercase; */
        font-weight: 500;
    }
    .texto {
        font-size: 12pt;
        /*   text-transform: uppercase;
        font-weight: 600; */
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 1038px) {
    .ts-facts-title {
        font-size: 12px;
    }
    .counterUp {
        font-size: 35px;
    }
    .ts-facts {
        margin-top: 40px;
    }
    .titulo {
        font-size: 18pt;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 16pt;
        color: white;
    }
    .subtitulo {
        font-size: 11pt;
        font-weight: 500;
        line-height: 14pt;
    }
    .texto {
        font-size: 10pt;
        color: white;
        /*   text-transform: uppercase;
        font-weight: 600; */
    }
    p {
        line-height: 14pt;
    }
}

.fas .fa-plus {
    font-size: 45pt;
}