<!-- Footer -->
<footer class="page-footer font-small  orange pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">La Forja</h5>
                <p>Soluciones Para Cerveceros</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"> <strong style="font-size: 12pt;">
                                Tienda Online
                            </strong> </a>
                    </li>
                    <li>
                        <a href="#!">Inicio</a>
                    </li>
                    <li>
                        <a href="#!">Equipos</a>

                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Asesoramiento</a>
                    </li>
                    <li>
                        <a href="#!">Cursos</a>
                    </li>
                    <li>
                        <a href="#!">Contacto</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://laforja.com.ar">La Forja</a>

        <a href="https://luloop.com.ar" class="ml-2 ">by luloop </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->