/* You can add global styles to this file, and also import other style files */

html,
body {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    ;
}


/* Parallax CSS */

.paralax {
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .background-oregon-grapes {
        height: 330px;
        width: 330px;
    }
}

:root {
    --colorPrincipal: #fac43d;
    --colorSecundarioClaro: #fbf08e;
    --colorAccion: #fd9f24;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    font-size: 10pt;
    color: black;
}

form {
    font-size: 10pt;
}