.carousel-caption {
    top: 0;
    bottom: auto;
    font-family: 'Roboto';
    font-weight: 900;
    color: orange;
}


/* .tituloSlider {
    background-color: rgb(3, 3, 3, 0.6);
    margin-right: 20%;
    margin-left: 20%;
    font-size: 35pt;
    font-weight: 600;
    padding: 2vh;
    border-radius: 2px;
    color: white;
} */

@media only screen and (max-width: 349px) {
    .carousel-caption {
        top: 0;
        bottom: auto;
        font-family: 'Roboto';
        font-weight: 900;
        color: orange;
    }
    .tituloSlider {
        background-color: rgb(3, 3, 3, 0.6);
        margin-right: 20%;
        margin-left: 20%;
        font-size: 10pt;
        margin-top: 10%;
        font-weight: 600;
        padding: 2vh;
        border-radius: 2px;
        color: white;
    }
}

@media only screen and (min-width: 350px) {
    .carousel-caption {
        top: 0;
        bottom: auto;
        font-family: 'Roboto';
        font-weight: 900;
        color: orange;
    }
    .tituloSlider {
        background-color: rgb(3, 3, 3, 0.6);
        margin-right: 20%;
        margin-left: 20%;
        font-size: 12pt;
        margin-top: 10%;
        font-weight: 600;
        padding: 2vh;
        border-radius: 2px;
        color: white;
    }
    .bajadaSlider {
        font-size: 10pt;
    }
}

@media only screen and (min-width: 760px) {
    .bajadaSlider {
        font-size: 10pt;
    }
}

@media only screen and (min-width: 960px) {}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 2000px) {}