iframe {
    width: 100%;
    height: 35vh;
}

.container {
    width: 80%;
    height: 40vh;
    margin-top: 5%;
}

.ts-service-box:hover {
    background-color: #f3c756;
    padding: 20px;
    border-radius: 10px;
    box-shadow: darkblue;
}

.ts-service-box {
    padding: 20px;
}


/* Service box */

.ts-service-box .ts-service-icon i {
    font-size: 36px;
    float: left;
    color: #fdb601;
}

.ts-service-box .ts-service-box-content {
    margin-left: 62px;
    margin-bottom: 30px;
}

.tab-content .ts-service-box .ts-service-box-content {
    margin-left: 90px;
}

.ts-service-box .ts-service-box-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 18px;
}

.ts-service-box .ts-service-box-info {
    margin-left: 90px;
}

.service-box-title {
    font-size: 16px;
    margin: 0 0 10px;
}

.service-box-title a {
    color: #333;
}

.service-box-title a:hover {
    color: #ffb600;
}

.service-center-img {
    padding: 0;
    margin-bottom: -120px;
}


/* Service box bg */

.ts-service-box-bg {
    background: #252525;
    color: #fff;
    /* padding: 30px; */
}

.ts-service-box-bg h4,
.ts-service-box-bg h3 {
    color: #fff;
}

.ts-service-icon.icon-round i {
    font-size: 24px;
    color: #fff;
    background: #ffb600;
    text-align: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    position: relative;
    float: none;
}

.service-box-title {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 800;
}

.service-box-title a {
    color: #333;
}


/* Newsletter */

.ts-newsletter {
    background: #252525;
    position: relative;
    min-height: 60px;
    padding: 30px 0 0 50px;
}

.ts-newsletter:after {
    content: "";
    position: absolute;
    background: #252525;
    display: block;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
}

.newsletter-introtext {
    float: left;
    color: #fff;
}

.newsletter-introtext h4 {
    margin: 0;
    color: #fff;
}

.newsletter-form {
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    position: relative;
}

.newsletter-form input {
    background: none;
    min-width: 450px;
    font-size: 12px;
    text-transform: capitalize;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, .3);
}


/* Subscribe area
================================================== */

.subscribe {
    background: #ffb600;
    padding: 0;
}


/* Call to action */

.subscribe-call-to-acton {
    min-height: 60px;
    padding: 30px 0 0 30px;
}

.subscribe-call-to-acton h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.subscribe-call-to-acton h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}


/* .service-box-title a:hover,
i:hover {
    color: #ffb600;
} */


/* Subscribe area
================================================== */

.subscribe {
    background: #ffb600;
    padding: 0;
}


/* Call to action */

.subscribe-call-to-acton {
    min-height: 40px;
    padding: 30px 0 0 30px;
}

.subscribe-call-to-acton h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.subscribe-call-to-acton h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}