<div class="row mt-3 mb-2 px-2" style="height: 4vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12 text-center" style="font-size: 30pt; font-family: 'Montserrat', sans-serif;">
        Nuestro Equipos de Aluminio
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row mt-5 mb-5 px-5" style="height: 70vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <div class="row">
            <div class="col-4">
                <div class="card  mr-2 " (click)='goTo(1)'>
                    <img src="../../../assets/minuaturas/simple30Mini.jpg" alt="thumbnail" class="card-img-top">

                    <div class="card-body ">
                        <h5 class="card-title bg-dark text-light px-2 py-2 upTituloEquipo text-center" style="font-weight: 600; font-size: 15pt;">
                            <i class="fas fa-bookmark mx-2" style="font-size: 15pt;"></i> PRINCIPIANTE HOBBY
                        </h5>
                        <p class="card-text"> Presentaciones:
                            <mat-chip-list class="mt-1 text-center">
                                <mat-chip>30 litros</mat-chip>
                                <mat-chip>50 litros</mat-chip>
                            </mat-chip-list>
                        </p>
                        <p class="card-text verHover"><small class="text-muted">Equipo compacto, ideal para quienes
                                desean
                                iniciarse
                                en la actividad cervecera, incluye todos los elementos necesarios para completar el
                                proceso
                                de fabricación, desde la cocción hasta el embotellado de la cerveza... </small></p>

                    </div>
                    <div class="card-footer text-center " style="color: var(--colorAccion);">
                        Ver Detalle
                    </div>

                </div>
                <!--  -->
            </div>
            <div class="col-4">
                <div class="card mr-2 " (click)='goTo(2)'>

                    <img src="../../../assets/minuaturas/escalonadoMini.jpg" alt="thumbnail" class="card-img-top">

                    <div class="card-body ">
                        <h5 class="card-title bg-dark text-light px-2 py-2 upTituloEquipo text-center" style="font-weight: 600; font-size: 15pt;">
                            <i class="fas fa-bookmark mx-2" style="font-size: 15pt;"></i> HOBBY Escalonado
                        </h5>

                        <p class="card-text"> Presentaciones:
                            <mat-chip-list class="mt-1 text-center">
                                <mat-chip>30 litros</mat-chip>
                                <mat-chip>50 litros</mat-chip>
                                <mat-chip>100 litros</mat-chip>
                                <mat-chip>130 litros</mat-chip>

                            </mat-chip-list>
                        </p>
                        <p class="card-text verHover"><small class="text-muted">Equipo pensado para los que buscan acortar
                                tiempos y
                                ganar
                                comodidad al momento de trabajar. Gracias a sus 3 ollas... </small></p>

                    </div>
                    <div class="card-footer text-center " style="color: var(--colorAccion);">
                        Ver Detalle
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="card " (click)='goTo(3)'>
                    <img src="../../../assets/minuaturas/herms_aluminio.jpg" alt="thumbnail" class="card-img-top">

                    <div class="card-body ">
                        <h5 class="card-title bg-dark text-light px-2 py-2 upTituloEquipo text-center" style="font-weight: 600; font-size: 15pt;">
                            <i class="fas fa-bookmark mx-2" style="font-size: 15pt;"></i> Semiprofesional HERMS
                        </h5>
                        <p class="card-text"> Presentaciones:
                            <mat-chip-list class="mt-1 text-center">
                                <mat-chip>30 litros</mat-chip>
                                <mat-chip>50 litros</mat-chip>
                                <mat-chip>100 litros</mat-chip>
                                <mat-chip>130 litros</mat-chip>

                            </mat-chip-list>
                        </p>
                        <p class="card-text verHover"><small class="text-muted">Este equipo trabaja de forma similar a las
                                fabricas profesionales pero llevado a escala casera o Micro Brewery. Pensado para el
                                cervecero exigente que busca consistencia entre cocciones
                                y pretende aprovechar al máximo el rendimiento de la maceración... </small></p>

                    </div>
                    <div class="card-footer text-center " style="color: var(--colorAccion);">
                        Ver Detalle
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>


<!-- <app-carousel-modal></app-carousel-modal> -->