<app-carousel2></app-carousel2>
<div id="equipos"> </div>
<app-logros></app-logros>
<div class=" text-center" style="min-height: 70vh; align-items: center;">
    <app-equipos></app-equipos>
</div>
<div class="paralax" style="background-image: url('../../../assets/portada/portada3.jpg'); min-height:20vh;">
</div>
<div id="contacto" class="pt-5" style=" background-color: #252525;"></div>

<div class="row" style="min-height: 60vh; align-items: center; background-color: #252525;;">
    <div class="col-2"></div>
    <div class="col-8">
        <app-about-us></app-about-us>
    </div>
    <div class="col-2"></div>
</div>
<div class="paralax" style="background-image: url('../../../assets/portada/portada3.jpg'); min-height: 10vh;">
</div>
<!--  -->
<div class="row" style="min-height: 60vh; align-items: center; background-color: var(--colorPrincipal) ;">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row ">
            <div class="col-12 col-md-12 col-lg-6 pt-1 my-auto">
                <div class="text-left float-right pl-2">
                    <strong class="somos">
                        Asesoramiento personalizado
                    </strong>
                    <hr>
                    <span class="anios"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis vitae
                        omnis sed quas molestias eaque culpa obcaecati ullam distinctio nostrum quia quae non explicabo
                        neque provident vero, est laboriosam repellendus.
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6  ">
                <img src="../../../assets/asesora/fabrica-01.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<!--  -->
<div class="paralax" style="background-image: url('../../../assets/portada/portada3.jpg'); min-height: 20vh;">
</div>

<app-contact></app-contact>
<div class="view" style="min-height: 30vh; align-items: center;">
    <div id="map-container-google-2 pb-5 img col-6" class="z-depth-1-half map-container">
        <iframe src="https://maps.google.com/maps?q=pacheco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        <!--    <div class="mask flex-center rgba-orange-light">
            </div> -->

    </div>
</div>

<!-- formulario contacto -->
<!-- <div id="contacto"> </div> -->