<div class="row  pt-5  pb-2 bg-dark px-5 " style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/PortadaCursoInicial.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-warning">Presencial</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px; margin-left: 10px;" class="badge badge-success">Inicial</span>
    </div>
    <div class="col-lg-7 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO INICIAL DE ELABORACION DE CERVEZA ARTESANAL
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: presencial
                <br>
                Capacitación teórico/práctica
                <br>
                Duración: 1 jornada de 10 a 16 hs.
            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: apuntes impresos, material de lectura, materiales didácticos para la práctica, almuerzo, degustación de estilos, mesa de café, certificado de asistencia. No hacen falta conocimientos previos
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO INICIAL DE ELABORACION DE CERVEZA ARTESANAL'." style="border-radius: 20px ;height: 80%; width: 50%;">Más información</a>
        </p>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Capacitación teórico /práctica intensiva de una sola jornada, donde los alumnos saldrán preparados para hacer sus propias cervezas. Haremos una cocción en vivo entre todos los presentes, abarcando desde el empaste (mezcla de granos y agua)
        hasta la incorporación de levaduras para fermentación, mientras vamos a ir pasando por todos los temas teóricos que hacen al proceso de elaboración de cerveza.

        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Nuestro curso inicial está dirigido a todas aquellas personas amantes de la cerveza que quieran descubrir los secretos de la elaboración artesanal, personas que trabajan en Bares o Cervecerías y deseen ganar idoneidad,
            Gastronómicos que busquen actualizar sus negocios o para aquellos que desean encontrar una actividad para compartir con amigos o para aquellos que están buscando un emprendimiento con finalidad comercial.
        </p>
    </div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Curso diseñado para lograr el autoabastecimiento de cerveza a nivel hogareño o emprender un pequeño proyecto comercial de venta directa.
            </li>
            <li style="margin-top: 10px;">Que los alumnos comprendan en su totalidad el proceso de elaboración, no solo desde la practica sino también de los procesos físico-químicos involucrados
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan la capacidad de producir una cerveza apta consumo por si solos
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan los conocimientos necesarios para tomar sus propias acciones correctivas durante la cocción
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>


<div class="row  pl-5 pt-5 pr-2 pb-2 bg-dark" style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/PortadaCursoInicial online.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-danger">Online</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px; margin-left: 10px;" class="badge badge-success">Inicial</span>
    </div>
    <div class="col-lg-6 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO ONLINE NIVEL INICIAL DE ELABORACION DE CERVEZA ARTESANAL
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: a distancia (on-line
                <br>
                Duración: 27 videos con practica y teoría

            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: acceso ilimitado a la plataforma, lecciones en formato video (watch training), totorales, material de estudio, asesoramiento, certificación, actualización mensual de información.
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO ONLINE NIVEL INICIAL DE ELABORACION DE CERVEZA ARTESANAL'." style="border-radius: 20px ;height: 80%; width: 50%;">Más
                información</a>
        </p>
    </div>
    <div class="col-lg-1"></div>

</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Las capacitaciones son guiadas por docentes con más de 10 años de experiencia en el mundo de la Cerveza Artesanal, especialistas en Marketing de la Universidad de Buenos Aires, y emprendedores que llevan capacitando a miles de cerveceros
        en Argentina y Latinoamerica. Se presentarán diferentes charlas teóricas que contarán todos y cada uno de los aspectos fundamentales del proceso y de los distintos ingredientes que hacen a la elaboración de manera didáctica y entretenida.
        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Esta capacitación está dirigido a todas aquellas personas amantes de la cerveza que quieran descubrir los secretos de la elaboración artesanal, personas que trabajan en Bares o Cervecerías y deseen ganar idoneidad,
            Gastronómicos que busquen actualizar sus negocios o para aquellos que desean encontrar una actividad para compartir con amigos o para aquellos que están buscando un emprendimiento con finalidad comercial.
        </p>
    </div>
    <div class="col-12 col-lg-6" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Curso diseñado para lograr el autoabastecimiento de cerveza a nivel hogareño o emprender un pequeño proyecto comercial de venta directa.
            </li>
            <li style="margin-top: 10px;">Que los alumnos comprendan en su totalidad el proceso de elaboración, no solo desde la practica sino también de los procesos físico-químicos involucrados
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan la capacidad de producir una cerveza apta consumo por si solos
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan los conocimientos necesarios para tomar sus propias acciones correctivas durante la cocción
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>



<div class="row  pl-5 pt-5 pr-2 pb-2 bg-dark" style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/portadaCursoAgua.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-warning">Presencial</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;margin-left: 10px" class="badge badge-light">Avanzado</span>
    </div>
    <div class="col-lg-7 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO AVANZADO AGUA PARA CERVECERIA
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: presencial
                <br>
                Capacitación teórico
                <br>
                Duración: 4 horas
            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: apuntes impresos, materiales didácticos para la práctica, picada, degustación de estilos, mesa de café, certificado de asistencia. Para participar se requieren conocimientos y experiencia previa en elaboración de cerveza artesanal
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO AVANZADO AGUA PARA CERVECERIA'." style="border-radius: 20px ;height: 80%; width: 50%;">Más información</a>
        </p>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Estudiaremos a fondo el Agua, ingrediente primordial en la fabricación de la cerveza. Trabajaremos sobre los parámetros a corregir, PH, alcalinidad, que aditivos se recomiendan, y cómo agregarlos correctamente según el estilo que se quiere
        fabricar y el agua con la que contamos. Los alumnos pueden traer a la clase el análisis de agua de sus fábricas para trabajar las correcciones específicas de cada uno en los ejemplos. Nos centraremos en la aplicación de un sistema de aplicación
        de buenas prácticas de manufactura para pequeños establecimientos cerveceros recomendadas por el Ministerio de Agroindustria de la Nación para lograr estabilidad en el producto final. Son bienvenidas las cervezas de los alumnos, así entre todos
        los presentes realizamos una cata y crítica constructiva para identificar aspectos del producto a mejorar y proponemos métodos para hacerlo.
        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Esta capacitación avanzada está dirigida a todos aquellos cerveceros caseros que deseen ingresar al mercado profesional de elaboración de cerveza artesanal o busquen mejorar y estabilizar su producto.
        </p>
    </div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Que el alumno logre corregir las sales del agua con la que cuenta a partir de un análisis de agua de su fábrica
            </li>
            <li style="margin-top: 10px;"> Mejorar la calidad del producto en base al agua utilizada
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan la capacidad de producir una cerveza apta consumo por si solos
            </li>
            <li style="margin-top: 10px;">Que los alumnos tengan los conocimientos necesarios para tomar sus propias acciones correctivas
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>


<div class="row  pl-5 pt-5 pr-2 pb-2 bg-dark" style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/portada Curso gasificado.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-warning">Presencial</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;margin-left: 10px" class="badge badge-light">Avanzado</span>
    </div>
    <div class="col-lg-7 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO AVANZADO GASIFICADO Y EMBARRILADO
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: presencial
                <br>
                Capacitación teórico/práctica
                <br>
                Duración: 4 horas
            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: apuntes impresos, materiales didácticos para la práctica, picada, degustación de estilos, mesa de café, certificado de asistencia. Para participar se requieren conocimientos y experiencia previa en elaboración de cerveza artesanal
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO AVANZADO GASIFICADO Y EMBARRILADO'." style="border-radius: 20px ;height: 80%; width: 50%;">Más información</a>
        </p>

    </div>
    <div class="col-lg-1"></div>

</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Prestaremos especial atención al gasificado y embarrilado. El gasificado de la cerveza es un factor que hace a la calidad final del producto, termina de redondear la cerveza, prestaremos especial atención distintas técnicas de gasificado
        artificial y natural (pros y contras de cada uno de los métodos y cómo realizarlos correctamente) y cuales estilos se benefician de uno u otro. Veremos diferencias entre los distintos tipos de barriles que se encuentran disponibles en el mercado
        y utilización de los mismos, para que los alumnos puedan elegir cual es el ideal según sus necesidades. También vamos a detenernos sobre las distintas técnicas para el correcto llenado de barriles, embotellado de cerveza ya carbonatada. Este curso
        es una herramienta fundamental para los entusiastas de la calidad. Sabrá como calcular de manera adecuada los niveles de gas carbónico de acuerdo al estilo y la temperatura de la cerveza para su correcta carbonatación de manera forzada o para
        el dispensado óptimo.
    </div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Esta capacitación avanzada está dirigida a todos aquellos cerveceros caseros que deseen ingresar al mercado profesional de elaboración de cerveza artesanal o busquen mejorar y estabilizar su producto.
        </p>
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Que el alumno logre la gasificación adecuada según el estilo de cerveza fabricado
            </li>
            <li style="margin-top: 10px;"> Mejorar la calidad del producto final
            </li>
            <li style="margin-top: 10px;">Que los alumnos puedan trabajar con barriles para agilizar el proceso de producción
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>


<div class="row  pl-5 pt-5 pr-2 pb-2 bg-dark" style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/PortadaLineas de cerveza.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-warning">Presencial</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;margin-left: 10px" class="badge badge-light">Avanzado</span>
    </div>
    <div class="col-lg-7 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO AVANZADO TRATAMIENTO DE LINEAS DE CERVEZA Y CALIDAD
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: presencial
                <br>
                Capacitación teórico
                <br>
                Duración: 4 horas
            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: apuntes impresos, materiales didácticos para la práctica, picada, degustación de estilos, mesa de café, certificado de asistencia. Para participar se requieren conocimientos y experiencia previa en elaboración de cerveza artesanal
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO AVANZADO TRATAMIENTO DE LINEAS DE CERVEZA Y CALIDAD'." style="border-radius: 20px ;height: 80%; width: 50%;">Más información</a>
        </p>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Prestaremos especial atención al tratamiento y limpieza de lineas de cerveza (choperas), así como en todos los aspectos que afectan a la calidad de nuestro producto una vez que sale del fermentados, y llega al consumidor.
        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Esta capacitación está especialmente diseñada para aquellos cerveceros caseros que buscan aumentar la calidad de su producto final, ya sea para la comercialización o para consumo del hogar, mejorando técnicas de
            gasificado, aplicando buenas prácticas de manufactura, cuidando el producto para que llegue de manera perfecta al consumidor.
        </p>
    </div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Que los alumnos logren el control de los aspectos que afectan a la cerveza terminada para garantizar que llegue de la mejor forma al consumidor
            </li>
            <li style="margin-top: 10px;"> Mejorar la calidad del producto final
            </li>
            <li style="margin-top: 10px;">Que los alumnos puedan trabajar con barriles correctamente
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row  pl-5 pt-5 pr-2 pb-2 bg-dark" style="box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-12 text-center">
        <img src="../../../assets/cursos/portada CursoGAFICIADO ONLINE.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;" class="badge badge-danger">Online</span>
        <span style="font-size: 10pt; padding: 10px; margin-top: 10px;margin-left: 10px" class="badge badge-light">Avanzado</span>
    </div>
    <div class="col-lg-7 col-12 ml-2">
        <strong style="font-size: 22pt; font-weight: 600; text-transform: uppercase; color: aliceblue;">
            CURSO ONLINE AVANZADO GASIFICADO, EMBARRILADO, LINEAS DE CERVEZA Y CALIDAD
        </strong>
        <p class="mt-2 mb-2">
            <span style="font-size: 12pt; color: aliceblue;">
                Modalidad: a distancia (on-line)
                <br>
                Capacitación teórico
                <br>
                Duración: El tiempo de duración depende de lo que el alumno le dedique, cada
                uno/a maneja sus tiempos ya que tienen acceso de por vida.
            </span>
        </p>
        <p style="font-size: 9pt; color: aliceblue;" class="pr-4">
            Incluye: Acceso ilimitado a la plataforma (podes hacer el curso las veces que necesites), lecciones en formato video (watch training), tutoriales, material de estudio, asesoriamiento, certificado Para participar se requieren conocimientos y experiencia
            previa en elaboración de cerveza artesanal
        </p>
        <p>
            <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                            Quisiera más Información sobre CURSO ONLINE AVANZADO GASIFICADO, EMBARRILADO, LINEAS DE CERVEZA Y CALIDAD'." style="border-radius: 20px ;height: 80%; width: 50%;">Más información</a>
        </p>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row pl-5 pt-4 pr-2 pb-2">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Sobre la capacitación:
        </strong>
        <br> Este curso tiene el fin de aumentar la calidad de tu producto final, ya sea para la comercialización o para consumo del hogar, mejorando técnicas de gasificado y cuidando el producto para que llegue de manera perfecta al consumidor. Nos localizamos
        en el gasificado de la cerveza ya que hace a la terminación del producto, técnicas de embarrilado, embotellado de la cerveza carbonatada, correcta instalación y tratamiento de las lineas de cerveza (choperas), limpieza y desinfección de fermentados,
        barriles, botellas, lineas de dispenser.
        <p style="font-size: 11pt;" class="mt-1 ">
            <strong style="font-size: 13pt;">
                Destinatarios:
            </strong> <br> Esta capacitación está especialmente diseñada para aquellos cerveceros caseros que buscan aumentar la calidad de su producto final, ya sea para la comercialización o para consumo del hogar, mejorando técnicas de
            gasificado, aplicando buenas prácticas de manufactura, cuidando el producto para que llegue de manera perfecta al consumidor.
        </p>
    </div>
    <div class="col-12 col-lg-5" style="font-size: 11pt;">
        <strong style="font-size: 13pt;">
            Objetivos:
        </strong>
        <ul>
            <li style="margin-top: 10px;">Que el alumno logre la gasificación adecuada según el estilo de cerveza fabricado
            </li>
            <li style="margin-top: 10px;"> Mejorar la calidad del producto final
            </li>
            <li style="margin-top: 10px;">Que los alumnos puedan trabajar con barriles para agilizar el proceso de producción
            </li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>