<section class="section-agents mb-5">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a mt-3 mb-4 text-uppercase" style="font-family: 'Montserrat', sans-serif;"> <strong> Nuestros
                                productos</strong></h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-10 mt-2  mx-auto col-sm-6 ">
                <div class="view overlay  text-left  " [routerLink]="['/inoxidables']">
                    <img src="../../../assets/laforja/EquipoProfesionalInox.jpg" class="img-fluid " alt="smaple image">
                    <div class="mask rgba-orange-strong pl-3 pt-3 pt-lg-5 " style="align-items: baseline;">
                        <h3 class="titulo mt-5 pt-5">
                            ACERO INOXIDABLE
                        </h3>

                        <div class="texto ">
                            <p>
                                <strong>50 a 1000 </strong> Litros</p>
                            <p>
                                <strong>Optimizan los tiempos de cocción y limpieza del equipo </strong></p>


                            <i class="fas fa-plus" style="z-index:1; font-size: 20pt;"></i>
                        </div>
                    </div>
                </div>
                <p class="subtitulo mt-2 px-2 ">
                    Equipos profesionales diseñados para minimizar el trabajo manual y mejorar la calidad de la cerveza.
                </p>
            </div>
            <div class="col-md-4 col-10 mt-2 mx-auto col-sm-6">
                <div class="view overlay text-left  " [routerLink]="['/aluminio']">
                    <img src="../../../assets/laforja/EquiposHomebrew.jpg" class="img-fluid " alt="smaple image">
                    <div class="mask rgba-orange-strong pl-3 pt-3 pt-lg-5 " style="align-items: baseline;">
                        <h3 class="titulo mt-5 pt-5">
                            Home Brew
                        </h3>
                        <p class="subtitulo ">
                            PARA CERVECEROS CASEROS
                        </p>
                        <div class="texto ">
                            <p>
                                <strong>30 a 500 </strong> Litros</p>

                            <i class="fas fa-plus" style="z-index:1; font-size: 20pt;"></i>
                        </div>
                    </div>
                </div>
                <p class="subtitulo mt-2 px-2 ">
                    <strong>Amplia gama de productos y equipos para cerveceros caseros</strong>
                </p>
            </div>

            <div class="col-md-4 col-10 mt-sm-2 mt-1 mt-md-2 mt-lg-3 mx-auto col-sm-6">
                <div class="view overlay  text-left " data-aos="zoom-in-left" [routerLink]="['/cursos']">
                    <img src="../../../assets/laforja/PortadaCursoInicial.jpg" class="img-fluid " alt="smaple image">
                    <div class="mask rgba-orange-strong pl-3 pt-3 pt-lg-5 " style="align-items: baseline;">
                        <h3 class="titulo mt-5 pt-5">
                            CAPACITACIONES
                            <br> Online y Presencial
                        </h3>
                        <div class="texto ">
                            <p class="content-d color-text-a ">
                                <strong>

                                    Inicial | Talle de Embarrilado | Agua
                                </strong>
                            </p>

                            <i class="fas fa-plus" style="z-index:1; font-size: 20pt;"></i>
                        </div>
                    </div>
                </div>
                <p class="subtitulo mt-2 px-2 ">
                    Cursos en distintos niveles, para principiantes o cerveceros experimentados
                </p>
            </div>
        </div>
    </div>
</section>