::ng-deep .carousel-indicators {
    display: none;
}

::ng-deep .carousel-indicators {
    display: none;
}


/* ::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}
 */

::ng-deep .carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: rgb(100, 100, 100, 0.2);
    font-weight: 700;
}

::ng-deep .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: rgb(100, 100, 100, 0.2);
    font-weight: 700;
}