.info-box-title,
.info-box-subtitle {
    font-family: 'Roboto';
}

ul.top-info-box {
    list-style: none;
}

ul.top-info-box li {
    position: relative;
    float: left;
    margin-left: 0;
    border-right: 1px solid #dedede;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 25px;
    margin-right: 25px;
}

ul.top-info-box li .info-box .info-box-title {
    font-size: 14px;
    line-height: 0cm;
}