<div class="container">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/1 herms aluminio.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/2 estructura.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/3 quemador.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/4 falsofondo.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/5 olla con canilla.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/6 bomba 30 watts.jpg" alt="Card image cap">
                        </div>
                    </div>

                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/7 elementos medicion.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/8 Enfriador contracorriente.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/9 fermentadores.jpg" alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="../../../../assets/equipos/AluminioHerms/10 elementos embotellado.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>