<a routerLink="/nosotros">
    <div class="row mt-3 mb-3">
        <div class="col-12 col-md-12 col-lg-6  ">
            <img src="../../../assets/laforja/LogoLaForja.png" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-12 col-lg-6 pt-1 my-auto pb-5">
            <div class="text-left float-right pl-2">
                <strong class="somos">
                    Somos una empresa conformada <br class="d-none d-lg-block">por expertos en cerveza.
                </strong>
                <hr>
                <span class="anios"> Años de experiencia en un sector en
                    pleno crecimiento
                    nos permite reconocer
                    las necesidades de los pequeños productores que luchan por un lugar en el mercado de las cervezas
                    artesanales.
                </span>

                <!--   <div class="row mt-2 pt-2 pl-2">
                    <div class="col-3 py-2  text-center" style="background-color:#fbf08e">
                        <a class=" my-auto py-2 col-2  " style=" color: #000000; " href="mailto:laforjaequipos@gmail.com " target="_blank">
                            <i class="fa fa-at" style="color: #000000;  font-size: 25pt; "> </i>
                        </a>
                    </div>
                    <div class="col-3 py-2 text-center" style="background-color: #fac43d">
                        <a class=" my-auto  col-2  " style="  color: #000000; " href="https://api.whatsapp.com/send?phone=541161188700&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." target="_blank">
                            <i class="fa fa-whatsapp" style="color: #000000;  font-size: 25pt; "> </i>
                        </a>
                    </div>
                    <div class="col-3 py-2 text-center" style="background-color: #fbf08e">
                        <a class="my-auto  col-2 " style="  color: #000000; " href="https://www.facebook.com/La-Forja-Equipamiento-Cervecero-364072507277975/" target="_blank">
                            <i class="fab fa-facebook-square " style=" font-size: 25pt; "></i>
                        </a>
                    </div>
                    <div class="col-3 py-2 text-center" style="background-color: #fac43d">
                        <a class="my-auto  col-2 " style="  color: #000000; " href="https://www.instagram.com/laforjaequipos/" target="_blank">
                            <i class="fab fa-instagram " style=" font-size: 25pt; "></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</a>