<!--Navbar-->
<mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark mt-auto mb-auto" [containerInside]="false" class="d-none fixed-top">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><img class="img-fluid" src="../../../assets/laforja/logo-navbar-01.png" alt="" style="height: 30px; width: auto;"></a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-5 active ">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown mr-5" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                       Equipos<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/inoxidables">Inoxidables</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/aluminio">Aluminio</a>
                </div>
            </li>

            <li class="nav-item mr-5">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/asesoramiento">Asesoramiento</a>
            </li>
            <li class="nav-item mr-5 dropdown btn-group" dropdown>
                <a class="nav-link  waves-light" routerLink="/cursos" mdbWavesEffect>
                    Cursos</a>

            </li>
            <li class="nav-item mr-5 dropdown btn-group" dropdown>
                <a class="nav-link  waves-light" routerLink="/nosotros" mdbWavesEffect>
                   Nosotros</a>

            </li>
            <li class="nav-item mr-5">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/contacto">Contacto</a>
            </li>
            <!--  <li class="nav-item mr-5">
                <a class="nav-link waves-light" mdbWavesEffect>Notas</a>
            </li> -->

            <li>
                <a style="color: #000000; font-size: 20pt;" href="https://api.whatsapp.com/send?phone=541161188700&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="float" target="_blank">
                    <i class="fa fa-whatsapp mr-3" style="color: #25d366;"> </i>
                </a>
                <a style="color: #000000; font-size: 20pt; color: white" href="https://www.facebook.com/La-Forja-Equipamiento-Cervecero-364072507277975/" class="float" target="_blank">
                    <i class="fab fa-facebook-square  mr-3"></i>
                </a>
                <a style="color: #000000; font-size: 20pt; color: white" href="https://www.instagram.com/laforjaequipos/" class="float" target="_blank">
                    <i class="fab fa-instagram  mr-3"></i>
                </a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->