<mat-tab-group>
    <mat-tab label='Fabrica "llave en mano"'>
        <div class="tab-pane fade show active py-5 animated fadeInRight" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
            <i class="far fa-lightbulb mb-4" style="font-size: 50pt;"></i>
            <h2 class="mb-4">Fabrica "llave en mano"</h2>
            <p>Armamos tu fabrica a medida y te ofrecemos un servicio integral en asesoramiento para emprendedores con el objetivo de lograr el stock necesario para cubrir las metas del plan de negocios:
            </p>
            <ul>
                <li> Diseño de fábrica a medida de las necesidades del cliente según su plan de negocios
                </li>
                <li>Fabricación del equipo necesario en acero inoxidable 304 sanitario.</li>
                <li>Instalación y puesta a punto del equipo, nos retiramos con los fermetadores llenos con la primer tanda de producción.</li>
                <li>Diseño de recetas acorde a la cantidad de litros finales a producir por Batch, con estudio de análisis de agua de la fábrica.</li>
                <li>Capacitación personalizada al staff de la fábrica.</li>
            </ul>
        </div>
    </mat-tab>
    <mat-tab label="Galeria">
        <div class="tab-pane fade py-5 animated fadeInRight" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
            <div class="row">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="' fade '">
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../../../assets/asesora/1.jpg" alt="First slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                        </div>

                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../../../assets/asesora/2.jpg" alt="Second slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                        </div>

                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../../../assets/asesora/3.jpg" alt="Third slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                        </div>

                    </mdb-carousel-item>
                </mdb-carousel>
                <!-- /.container -->
            </div>

        </div>
    </mat-tab>
    <mat-tab label="Consultoria emprendedores">
        <div class="tab-pane fade py-5 animated fadeInLeft" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <h2 class="mb-4">Consultoria emprendedores</h2>
            <p>Ofrecemos servicios para quienes tienen una fabrica de cerveza en funcionamiento y desean mejorar practicas, recetas, calidad del producto con el objetivo de abrirse paso en el mercado cervecero:
            </p>
            <ul>
                <li>Diseño de recetas acorde a la cantidad de litros finales a producir por Batch, con estudio de análisis de agua de la fábrica.</li>
                <li>Mejora de procesos productivos: Trazabilidad de lotes, protocolos de limpieza y sanitización, envasado, transporte.</li>
                <li> Capacitación personalizada al staff de la fábrica.</li>
            </ul>
        </div>
    </mat-tab>
    <mat-tab label="Fabricas a medida">
        <div class="tab-pane fade py-5 animated fadeInLeft" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <h2 class="mb-4">Fabricas a medida</h2>
            <p>Contamos con un taller de herrería especializado en equipamiento cervecero y expertos en diseño de fabricas de cerveza para ofrecer el mejor equipo acorde a los requerimientos de cada proyecto:
            </p>
            <ul>
                <li>Diseño de planos de módulo de cocción a medida de las necesidades del cliente según su plan de negocios, litros finales a producir, espacio del local o fábrica donde se instalará el mismo.</li>
                <li>Fabricación del módulo de cocción necesario en acero inoxidable 304 sanitario.</li>
                <li>Fabricación de fermentadores de acero inoxidable isobaricos en acero inoxidable 304 sanitario.
                </li>
            </ul>
        </div>
    </mat-tab>
    <mat-tab label="Gráfica y Comunicación">
        <div class="tab-pane fade py-5 animated fadeInLeft" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <h2 class="mb-4">Gráfica y Comunicación</h2>
            <p>Ofrecemos servicios de grafica, comunicación y posicionamiento de tu marca de cerveza:</p>
            <ul>
                <li>Desarrollo de marca</li>
                <li>Diseño de logotipos e isótopos</li>
                <li>Diseño de etiquetas, gráfica para latas</li>
                <li>Folletería, banners, menú, catalogo</li>
                <li>Fotografía de producto</li>
                <li>Diseño de etiquetas, gráfica para latas</li>
                <li>Diseño de paginas web</li>
                <li>Posicionamiento en google</li>
                <li>Manejo de redes sociales</li>

            </ul>
        </div>
    </mat-tab>
</mat-tab-group>