<section id="ts-service-area" class="ts-service-area">
    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-md-6 col-lg-4 col-12">
                <div class="ts-service-box active " data-aos="fade-right" (click)="seleccionar('osvaldo')" id="osvaldo">
                    <div class="row">

                        <div class=" col-12 col-sm-12  col-md-8 mt-sn-2 ml-md-1">
                            <h3 class="service-box-title"><a>OSVALDO CHARLO</a></h3>
                            <p>Maestro Cervecero Profesional y especialista en diseño de equipamiento cerveceros y recetas para grandes fabricas.</p>

                            <div class="col-12 text-left">

                                <div class="dropdown">
                                    <span style="font-weight: 600;">+ sobre Osvaldo</span>
                                    <div class="dropdown-content">
                                        <p>Formación profesional egresado de la maestría “Microcervecería como modelo de negocio" en la Universidad de Alicante, España. <br>Con más de 8 años de experiencia en el rubro. Director de contenidos de nuestro Centro
                                            de Capacitación Cervecera y de IPCA (Instituto de Producción de Cerveza ).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p>
                                <a style="color: #000000; font-size: 15pt;" href="mailto: laforjaequipos@gmail.com" class="float" target="_blank">
                                    <i class="fa fa-envelope mr-3"> </i>
                                </a>
                                <!--   <a style="color: #000000; font-size: 15pt;" href="https://api.whatsapp.com/send?phone=541161188700&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="float" target="_blank">
                                        <i class="fab fa-facebook-square  mr-3"></i>
                                    </a> -->
                                <a style="color: #000000; font-size: 15pt;" href="https://www.instagram.com/osvaldocharlo/?hl=es-la" class="float" target="_blank">
                                    <i class="fab fa-instagram  mr-3"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr style="border-color:rgb(226, 173, 26) ;">
                <div class="ts-service-box" data-aos="fade-left" (click)="seleccionar('marcelo')" id="marcelo">

                    <div class="row">

                        <div class=" col-12 col-sm-12  col-md-8 mt-sn-2 ml-md-1">
                            <h3 class="service-box-title"><a>PABLO CHARLO</a></h3>
                            <p>Herrero especializado en cervecería.</p>
                            <hr>
                            <p>
                                <a style="color: #000000; font-size: 15pt;" href="mailto: laforjaequipos@gmail.com" class="float" target="_blank">
                                    <i class="fa fa-envelope mr-3"> </i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col end -->

            <div class="col-md-4 text-center d-none d-lg-block ">
                <img class="service-center-img img-responsive" src="../../../assets/laforja/osvaldo.png" alt="" style="height: 60vh; min-height: 400px;" id="service-center-img" />
            </div>
            <!-- Col end -->

            <div class="col-md-6 col-lg-4 col-12">
                <hr class="d-block d-md-none" style="border-color:rgb(226, 173, 26) ;">

                <div class="ts-service-box" data-aos="fade-right" data-aos-duration="1000" (click)="seleccionar('melina')" id="melina">

                    <div class="row">

                        <div class=" col-12 col-sm-12  col-md-8 mt-sn-2 ml-md-1">
                            <h3 class="service-box-title"><a>MELINA VARELA</a></h3>
                            <p>Área Comercial, Marketing y Comunicación. Diseñadora grafica y fotografa con especialización en producto, alimentos y bebidas.</p>
                            <hr>
                            <div class="col-12 text-left">
                                <div class="dropdown">
                                    <span style="font-weight: 600;">+ sobre Melina</span>
                                    <div class="dropdown-content" style="right: 30%; left: auto;">
                                        <p>Ingreso en el mundo de cervecería artesanal en Vermont, Estados Unidos en el año 2012, donde trabajo como pasante de diseño grafico en Long Trail Brewery, donde además hizo sus primeras cocciones Home brewer. Docente
                                            de nuestro curso inicial para cerveceros caseros en Centro de Capacitación Cervecera y de IPCA (Instituto de Producción de Cerveza).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a style="color: #000000; font-size: 15pt;" href="mailto: laforjaequipos@gmail.com" class="float" target="_blank">
                                    <i class="fa fa-envelope mr-3"> </i>
                                </a>
                                <a style="color: #000000; font-size: 15pt;" href="https://www.facebook.com/La-Forja-Equipamiento-Cervecero-364072507277975/" class="float" target="_blank">
                                    <i class="fab fa-facebook-square  mr-3"></i>
                                </a>
                                <a style="color: #000000; font-size: 15pt;" href="https://www.instagram.com/laforjaequipos/?hl=es-la" class="float" target="_blank">
                                    <i class="fab fa-instagram  mr-3"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr style="border-color:rgb(226, 173, 26) ;">

                <div class="ts-service-box mt-5" data-aos="fade-left" data-aos-duration="1000" (click)="seleccionar('lucila')" id="lucila">


                    <div class="row">

                        <div class=" col-12 col-sm-12  col-md-8 mt-sn-2 ml-md-1">
                            <h3 class="service-box-title"><a>JORGE PADUA</a></h3>
                            <p>Docente de nuestro curso inicial para cerveceros caseros en Centro de Capacitación Cervecera y de IPCA (Instituto de Producción de Cerveza).</p>
                            <hr>
                            <div class="col-12 text-left">
                                <div class="dropdown">
                                    <span style="font-weight: 600;">+ sobre Jorge</span>
                                    <div class="dropdown-content" style="right: auto;">
                                        <p>Maestro cervecero de “BIRRA NOSTRA”.
                                        </p>
                                        <p> Home Brewer desde el año 2014.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a style="color: #000000; font-size: 15pt;" href="mailto: laforjaequipos@gmail.com" class="float" target="_blank">
                                    <i class="fa fa-envelope mr-3"> </i>
                                </a>
                                <a style="color: #000000; font-size: 15pt;" href="https://api.whatsapp.com/send?phone=541161188700&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="float" target="_blank">
                                    <i class="fab fa-facebook-square  mr-3"></i>
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
                <!-- Service 5 end -->
            </div>
            <!-- Col end -->
        </div>
        <!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>