<div class="row mt-3 px-lg-5 px-3" style="height: 2vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <span [routerLink]="['/aluminio']">
    
                <i class="fas fa-chevron-left"></i> Volver
            </span>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mt-2 mb-5 px-lg-5 px-3" style="min-height: 70vh;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12">
        <div class=" mt-2 mb-2">
            <div class="card-body">
                <div class="row px-2 ">
                    <div class="col-12  col-lg-6 col-xl-6">
                        <img src="ht../../../assets/equipos/escalonado.jpg" alt="thumbnail" class="img-thumbnail" style="width: 100%">
                    </div>
                    <div class="col-12  col-lg-6 col-xl-6 my-auto ">

                        <div class="row mb-2 upTituloEquipo">
                            <strong class="tituloEquipo"> <i class="fas fa-bookmark mx-2" style="font-size: 25pt;"></i>
                                |

                                Equipo HOBBY Escalonado
                            </strong>
                        </div>


                        <div class=" ml-2 " style="font-size: 11pt;">
                            <strong style="font-size: 12pt;">
                                Presentaciones:
                                <div class="mt-2"></div>
                                <mat-chip-list class="mt-1">
                                    <mat-chip>30 litros</mat-chip>
                                    <mat-chip>50 litros</mat-chip>
                                    <mat-chip>100 litros</mat-chip>
                                    <mat-chip>130 litros</mat-chip>

                                </mat-chip-list>
                                <br>
                            </strong> Equipo pensado para los que buscan acortar tiempos y ganar comodidad al momento de trabajar. Gracias a sus 3 ollas (agua, macerado y hervido) tenemos una estación de trabajo con una función
                            especifica en cada una, agilizando el trabajo. Apto para maceración de tipo infusión simple o escalonada, permitiendo replicar cualquier estilo de cerveza (escuela inglesa, alemana, belga). Su estructura se adapta para posicionarse
                            tanto de manera lineal como en L, optimizando el espacio de trabajo. incluye todos los elementos necesarios para completar el proceso de fabricación, desde la cocción hasta el embotellado de la cerveza.
                            <p style="font-size: 9pt;">Accesorio opcional fermentador conico de 60, 110 o 150 litros (consultar precio)
                            </p>
                        </div>

                        <br>
                    </div>
                </div>
                <div class="row text-center">
                    <div class=" col-6">
                        <a type="button" class="btn btn-warning btn-rounded" href="https://laforja.mercadoshops.com.ar/" target="_blank" style=" border-radius: 20px ;height: 80%;  width: 100%;">Ver en la
                                                                    Tienda</a>
                    </div>
                    <div class=" col-6">
                        <a type="button" class="btn btn-outline-warning btn-rounded waves-effect" href="https://api.whatsapp.com/send?phone=541161188700&text='Hola. 
                                                                                            Quisiera más Información sobre | EQUIPO PRINCIPIANTE HOBBY'." style="border-radius: 20px ;height: 80%; width: 100%;">Venta Directa</a>
                    </div>
                    <div class="col-6 my-auto ">
                        <div style="font-size: 9pt; font-weight: 600;">
                            COMPRA ONLINE CON TARJETA DE CRÉDITO
                        </div>
                    </div>

                    <div class="col-6 my-auto">
                        <div style="font-size: 9pt; font-weight: 600;">
                            15% DESCUENTO PAGO DIRECTO <span style="font-size: 7pt;">
                                                                        <br> (TRANSFERENCIA O DEPOSITO)
                                                                    </span>
                        </div>
                        <div style="font-size: 9pt; font-weight: 600; ">
                            20% DESCUENTO PAGO EFECTIVO EN MANO
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-3">
            <div class="col-3" style="font-size: 14pt; font-family: 'Kaushan Script'">
                Accesorios
            </div>

            <hr>
            <div class="col-12 text-center">
                <app-carousel-modal></app-carousel-modal>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>